/* This is code for all the pages */
body{
    background-color: lavenderblush;
    font-family: "Raleway", sans-serif;
    font-size: 18pt;
    margin: 0pt;
    padding: 10 pt;

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightskyblue;
}

::-webkit-scrollbar-thumb {
  background: hsl(266, 82%, 62%);
  border-radius: 10px;;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}

/* header{
    background-attachment: fixed;     
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;      
    color: black;
    height: 400px;                     
    margin-bottom:25px;
    background-image:  url('../imgs/');
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: lightskyblue;
  }
nav li{
    display:inline;
    padding-right:20px;
  
  }
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
nav {
  margin-bottom: 50px;
}
  
a:hover {background-color: hsl(266, 82%, 62%);}
a:focus{ text-decoration: underline;
  background-color: hsl(266, 82%, 62%);
}
a.current{ text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  color: purple;
  border: solid purple 10px;
}

.woah { margin: 50pt;
}
  /* Okay time for header 1 */

h1{
  font-size: 50pt;
  padding: 25px;
  font-weight: bold;
  text-decoration: dotted;
  text-align: center;
  }

h2{ 
  font-size: 35pt;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  /* text-decoration: underline black; */

  }
footer{
  background-color:lightskyblue;
  margin-top: 50px;
}
footer > h1 {
  font-size: 18pt;
  color: black;
  font-weight: normal;
  padding: 15px;
  text-align: center;
}


  /* skip content button */
.skip a{
  background: lightgoldenrodyellow;
  color: black;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top:-50px;
  }

.skip a:focus{
  position: static;
  bottom: 10 px;
}

a:focus{
border: solid 2px; }




    /* code for about page */

  .work{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    margin: 50pt;
        
    }


  .pig > img {
    max-width: 75%;
    height: auto;
    border: double hsl(266, 82%, 62%) 8px;
    border-radius: 50px;
  }
  .pig{ 
    grid-row: 1 / 4;
    grid-column: 2;
  }



/* This is code just for the travel page */
  .container{
    display:grid;
    grid-template-columns: auto auto ;
    grid-row:auto;
    row-gap: 20px;
    column-gap: 100px;
    align-self: auto;
    margin: 50pt;
  
  }


 .container img{
  width: 90%;
	filter:grayscale(1); 
 	transition-property: filter, border-radius, border; 
  	transition-duration: 1s;
  	transition-timing-function: linear;

 	animation-name: slidein;
  	animation-duration: 3s;

}


.container img:hover{ 
	filter:grayscale(0);
  border: double hsl(266, 82%, 62%) 8px;
	border-radius: 50px;
}

.container p {
background-color: lightgoldenrodyellow;
padding: 5pt 10pt 5pt 10pt;
text-align: left;
max-height: 100pt;
width: auto;
overflow: auto;
}
.container {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.container::-webkit-scrollbar { 
  display: none;  
}

.imgone, .imgtwo {grid-row: 1;}
.desone, .destwo {grid-row:2;}
.imgthree, .imgfour {grid-row: 3;}
.desthree, .desfour {grid-row: 4}
.imgfive, .imgsix {grid-row: 5;}
.desfive, .dessix {grid-row: 6;}
.imgseven, .imgeight {grid-row: 7;}
.desseven, .deseight {grid-row: 8;}
.imgnine, .imgten {grid-row: 9;}
.desnine, .desten {grid-row: 10;}

.imgeleven {
grid-row: 11;
}

.deseleven{
  grid-row: 12;
  grid-column: 1;
}

.days {
 padding-bottom: 15pt;
 text-align: center;
}
/* img:nth-child(3n){
	transform:rotate(-30deg);
}

img:nth-child(2n){
	transform:rotate(30deg);
}

img:nth-child(4n){
	transform:rotate(15deg);
}


img:active{
	transform:rotate(0deg);
} */


@keyframes slidein { 
  from {
	  position: relative;
  	left: -1000px;
  }
  to {
	  position: relative;
	  top: 0px;
  	
  }
}

/* @media all and (min-width: 880px){
    
  img{
     width:100%;
  }
  
  nav{
    padding: 30px 0px;
    text-align: right;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

@media all and (min-width:667px){
	div{
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width:900px){
	div{
		grid-template-columns: 1fr 1fr;
	}
} 
} */

@media all and (prefers-reduced-motion:reduce){
	
	img{
		animation:none;
		
	}
	img:hover{
		border-radius: 0px
	}
}



  /* For books */
.book{ 
  display: grid;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: 100px 500px;
  row-gap: 20px;
  column-gap: 20px;
  align-self: auto;
  margin: 50pt;
  
}
.book h2{
  grid-column: 1/ span 2;
}

.book > img{
  grid-row: 2;
  max-height: 100%;
  max-width: 100%;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;
  align-self: center;
}

.book > p {
max-width: 75%;
align-self: auto;
}
.booky > img {
  height: auto;
  max-width: 25%;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;
  align-self: auto;
  margin: 20px;
}
.booky {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
  /* for crochet page */
.pro{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-row:auto auto auto auto;
  row-gap: 20px;
  column-gap: 100px;
  align-self: auto;
  margin: 50pt;
  
}

.pro > img{
  max-width: 75%;
  height: auto;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;

}

.pro > p{
background-color: lightgoldenrodyellow;
max-width: 75%;
height: 50%;
padding: 5pt 10pt 5pt 10pt;
overflow: auto;
}

/* for phones */

@media only screen and (max-width: 600px) {
  li a {
        display: block;
        width: 25px; 
        background-color: lightskyblue;
      }
    
    li a:hover {
      background-color:  hsl(266, 82%, 62%);
      color:black;
    }
    ul {
      border: 1px solid black;
    }
    
    li {
      text-align: center;
      border-bottom: 1px solid black;
    }
    
    li:last-child {
      border-bottom: none;
    }
  
    img{ width:100%}
  
  
  .container{
    display:flex;
    flex-wrap: wrap;
  }
  
  
  .book{ 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    align-self: auto;
  }
  .wilde {
    grid-row: 1;
  }
  .irish {grid-row: 2;}
  .wordy{ grid-row:3;
  margin: 10px}
.booky {
  display: flex;
  flex-wrap: wrap-reverse;
    }

  .work{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10 px;
     
    }
  .pro{
    display:grid;
    grid-template-columns: auto auto;
    grid-row:auto auto auto auto;
    row-gap: 50px;
    column-gap: 50px;
    align-self: auto;
    }
  /* .pro > img {
    height: 100%;
    max-width: 100%; 
  } */
  
    .finn, .edgar{
      grid-row: 1;
    }
    .wedgar, .wfinn {grid-row:2;}
    .granny, .mum { grid-row: 3;}
    .wgranny,.wmum {grid-row: 4;}
    .mush, .hat {grid-row: 5;}
    .wmush, .what {grid-row: 6;}
  }




 /* tablet view */
@media only screen and (max-width: 801px) {
   
nav li{
  display:inline;
  padding-right:20px;
 }
  nav a{
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }
    
  
  h1 { margin: 50pt;
    color: purple;
  }
  h2 { color: purple;
  margin: 25px}
  p {color: purple;
  overflow: auto;}
 

  .book{ 
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 200px;
    row-gap: 5px;
    align-self: center;
    column-gap: 0px;
  }
  .wilde {
    grid-row: 1/span 2;
  }
.irish {
grid-row: 2;
grid-column: 1;
align-self: auto;}

.wordy{
  grid-row:4;
  margin: 10px}



}

