/* This is code for all the pages */
body{
    background-color: lavenderblush;
    font-family: "Raleway", sans-serif;
    font-size: 18pt;
    margin: 0pt;
    padding: 10 pt;

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightskyblue;
}

::-webkit-scrollbar-thumb {
  background: hsl(266, 82%, 62%);
  border-radius: 10px;;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: lightskyblue;
  }
nav li{
    display:inline;
    padding-right:20px;
  
  }
nav a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    padding: 3%;
  }
nav {
  margin-bottom: 50px;
}
  
a:hover {background-color: hsl(266, 82%, 62%);}
a:focus{ text-decoration: underline;
  background-color: hsl(266, 82%, 62%);
}
a.current{ text-transform: uppercase;
  background-color:antiquewhite;
  color: purple;
  border: solid purple 10px;
  font-weight: bold;
}

.woah { margin: 50pt;
}
  /* Okay time for header 1 */

h1{
  font-size: 50pt;
  padding: 25px;
  font-weight: bold;
  text-decoration: dotted;
  text-align: center;
  }

h2{ 
  font-size: 35pt;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  /* text-decoration: underline black; */

  }
footer{
  background-color:lightskyblue;
  margin-top: 5%;   
}
footer > h1 {
  font-size: 18pt;
  color: black;
  font-weight: normal;
  padding: 5%;
  text-align: center;
}


  /* skip content button */
.skip a{
  background: lightgoldenrodyellow;
  color: black;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top:-50px;
  }

.skip a:focus{
  position: static;
  bottom: 10 px;
}

a:focus{
border: solid 2px; }




    /* code for about page */

  .work{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    margin: 50pt;
        
    }


  .pig > img {
    min-width:50%;
    max-width: 75%;
    height: auto;
    border: double hsl(266, 82%, 62%) 8px;
    border-radius: 50px;
  }
  .pig{ 
    grid-row: 1 / 4;
    grid-column: 2;
  }
  body {
    display: table;
    width: 100%; 
  }
  
  body > footer {
     display: table-row;
  }

  /* This is for the flip card */
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: lightskyblue;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: lightskyblue;
  color: black;
  transform: rotateY(180deg);
}

/* This is code just for the travel page */
  .container{
    display:grid;
    grid-template-columns: auto auto ;
    grid-row:auto;
    row-gap: 20px;
    column-gap: 100px;
    align-self: auto;
    margin: 50pt;
  
  }


 .container img{
  width: 90%;
	filter:grayscale(1); 
 	transition-property: filter, border-radius, border; 
  	transition-duration: 1s;
  	transition-timing-function: linear;

 	animation-name: slidein;
  	animation-duration: 3s;

}


.container img:hover{ 
	filter:grayscale(0);
  border: double hsl(266, 82%, 62%) 8px;
	border-radius: 50px;
}

.container p {
background-color:white;
padding: 5pt 10pt 5pt 10pt;
text-align: left;
max-height: 100pt;
width: auto;
overflow: auto;
}
.container {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.container::-webkit-scrollbar { 
  display: none;  
}

.imgone, .imgtwo {grid-row: 1;}
.desone, .destwo {grid-row:2;}
.imgthree, .imgfour {grid-row: 3;}
.desthree, .desfour {grid-row: 4}
.imgfive, .imgsix {grid-row: 5;}
.desfive, .dessix {grid-row: 6;}
.imgseven, .imgeight {grid-row: 7;}
.desseven, .deseight {grid-row: 8;}
.imgnine, .imgten {grid-row: 9;}
.desnine, .desten {grid-row: 10;}

.imgeleven {
grid-row: 11;
}

.deseleven{
  grid-row: 12;
  grid-column: 1;
}

.days {
 padding-bottom: 15pt;
 text-align: center;
}



@keyframes slidein { 
  from {
	  position: relative;
  	left: -1000px;
  }
  to {
	  position: relative;
	  top: 0px;
  	
  }
}


@media all and (prefers-reduced-motion:reduce){
	
	img{
		animation:none;
		
	}
	img:hover{
		border-radius: 0px
	}
  .parallax{ visibility: hidden;}
}



  /* For books */
.book{ 
  display: grid;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: 100px 500px;
  row-gap: 75px;
  column-gap: 20px;
  align-self: auto;
  margin: 50pt;
  
}
.book h2{
  grid-column: 1/ span 2;
}

.book > img{
  grid-row: 2;
  max-height: 125%;
  max-width: 100%;
  min-width: 50%;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;
  align-self: center;
}

.book > p {
max-width: 100%;
min-width: 50%;
align-self: auto;
overflow: auto;
}
.booky > img {
  max-width: 25%;
  min-width: 10%;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;
  align-self: auto;
  margin: 20px;
}
.booky {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
margin-bottom:5%;
text-align: center;
}
  /* for crochet page */
.pro{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-row:auto auto auto auto;
  row-gap: 20px;
  column-gap: 100px;
  align-self: auto;
  margin: 50pt;
  
}

.pro > img{
  max-width: 75%;
  min-width: 50%;
  height: auto;
  border: double hsl(266, 82%, 62%) 8px;
  border-radius: 50px;

}

.pro > p{
background-color:white;
max-width: 75%;
height: 50%;
padding: 5pt 10pt 5pt 10pt;
overflow: auto;
}

 /* tablet view */
 @media only screen and (max-width: 801px) {
   
  nav li{
    display:inline;
    padding-left:20px;
   }
    nav a{
        color: purple;
        font-weight: 400;
        text-decoration: underline;
        padding: 0pt;
      }
  
      a.current{ text-transform: uppercase;
      color: black;
      border: none;}
      
    
    h1 { margin: 50pt;
      color: purple;
    }
    h2 { color: purple;
    margin: 25px}
    p {color: purple;
    overflow: auto;}
   
  
    .book{ 
      display: grid;
      grid-template-columns: 600px;
      grid-template-rows: 200px;
      row-gap: 5px;
      align-self: center;
      column-gap: 0px;
    }
    .wilde {
      grid-row: 1/span 2;
    }
  .irish {
  grid-row: 2;
  grid-column: 1;
  align-self: auto;}
  
  .wordy{
    grid-row:4;
    margin: 10px}

  .pro{
      display:grid;
      grid-template-columns: auto auto;
      grid-row:auto auto auto auto;
      row-gap: 50px;
      column-gap: 50px;
      align-self: auto;
      }

    .finn, .edgar{
      grid-row: 1;
    }
    .wedgar, .wfinn {grid-row:2;}
    .granny, .mum { grid-row: 3;}
    .wgranny,.wmum {grid-row: 4;}
    .mush, .hat {grid-row: 5;}
    .wmush, .what {grid-row: 6;}
  }
  


/* for phones */

@media only screen and (max-width: 600px) {
  h1 { margin: 50pt;
    color: darkblue;
  }
  h2 { color: darkblue;
  margin: 25px}
  p {color: darkblue;
  overflow: auto;}
 
  a.current{ text-transform: uppercase;
    color: purple;
    background-color: lightskyblue;
    font-weight: bolder;
  }
  nav a{
    color: darkblue;
    font-weight: 400;
    text-decoration: underline;
  }
  
  li a {
        display: block;
        width: 25px; 
        background-color: lightskyblue;
      }
    
    li a:hover {
      background-color:  hsl(266, 82%, 62%);
      color:black;
    }
    ul {
      border: 1px solid black;
    }
    
    li {
      text-align: center;
      border-bottom: 1px solid black;
    }
    
    li:last-child {
      border-bottom: none;
    }
  
    img{ width:100%}
  
  
  .container{
    display:flex;
    flex-wrap: wrap;
  }
  
  
  .book{ 
    display: flex;
    flex-flow: column;

  }
  .booky {

    display: flex;
    flex-wrap: wrap-reverse;
    }
  

  .work{
    display: flex;
    flex-flow: column;
    }

  /* .pro > img {
    height: 100%;
    max-width: 100%; 
  } */
  .woah > h1 {
    margin: 0;
  }
  .woah > h2 {
    margin: 0;
  }
  .pro{
    display:grid;
    grid-template-columns: 100%;
    grid-row:auto;
    row-gap: 10px;
    align-self: auto;
    }

  .edgar{
      grid-row: 1;
    }
    .finn{grid-row: 3}
    .wedgar {grid-row:2;}
    .wfinn{grid-row: 4;}
    .granny { grid-row: 5;}
    .mum{grid-row: 7;}
    .wgranny {grid-row: 6;}
    .wmum {grid-row: 8;}
    .mush {grid-row: 9;}
    .hat{ grid-row: 11;}
    .wmush {grid-row: 10;}
    .what {grid-row: 12;}
  }



